@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for navigation */
html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.animate-shine {
    animation: shine var(--animation-duration, 2s) linear infinite;
}